@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    user-select: none;
}

.font-fuzzy {
    font-family: 'Fuzzy Bubbles', cursive;
}

.font-montez {
    font-family: 'Montez', cursive;
}


.scroll-hidden::-webkit-scrollbar {
    display: none
}

body::-webkit-scrollbar {
    display: none
}

/* just for custom scrollbar*/
::-webkit-scrollbar {
    width: 5px;
    height: 2px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #2d3748;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #333;
}

::-webkit-scrollbar-thumb:active {
    background: #333;
}

::-webkit-scrollbar-track {
    background: rgba(143, 143, 143, 0.3);
    border: 0px none #333;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: rgba(143, 143, 143, 0.3);
}

::-webkit-scrollbar-track:active {
    background: rgba(143, 143, 143, 0.3);
}

::-webkit-scrollbar-corner {
    background: transparent;
}

.line-clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text-red {
    color: #f22952;
}

.hover-red:hover {
    color: #f22952;
}

.bg-red {
    background-color: #f22952;
}


.scrollToTop {
    box-shadow: 0px 10px 30px rgba(242, 41, 82, 0.6);
    transition: all 0.7s ease-in-out;
    z-index: 300;
    animation: bounce 1.5s ease-in-out infinite;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(-10%);
        animationTimingFunction: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
        transform: translateY(0);
        animationTimingFunction: cubic-bezier(0, 0, 0.2, 1);
    }

}

.opac {
    animation: opacAnimation 3s ease-out;
}

@keyframes opacAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.transition-x {
    transform: translateX('100%');
    animation: translateXAnimation 0.3s ease-in-out;
}

@keyframes translateXAnimation {
    0% {
        opacity: 0.5;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

.-transition-x {
    transform: translateX('-100%');
    animation: translateXAnimation 0.3s ease-in-out;
}

@keyframes translateXAnimation {
    0% {
        opacity: 0.5;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

.skill {
    animation: fadeinout 3s linear;
}

@keyframes fadeinout {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

.skill:nth-child(1) {
    animation-delay: 0ms;
}

.skill:nth-child(2) {
    animation-delay: 100ms;
}

.skill:nth-child(3) {
    animation-delay: 200ms;
}

.skill:nth-child(4) {
    animation-delay: 300ms;
}

.skill:nth-child(5) {
    animation-delay: 400ms
}

.skill:nth-child(6) {
    animation-delay: 500ms;
}

.skill:nth-child(7) {
    animation-delay: 600ms;
}

.skill:nth-child(8) {
    animation-delay: 700ms;
}

.skill:nth-child(9) {
    animation-delay: 800ms;
}

.skill:nth-child(10) {
    animation-delay: 900ms;
}

.skill:nth-child(11) {
    animation-delay: 100ms;
}

.skill:nth-child(12) {
    animation-delay: 1100ms;
}

.skill:nth-child(13) {
    animation-delay: 1200ms;
}

.skill:nth-child(14) {
    animation-delay: 1300ms;
}

.skill:nth-child(15) {
    animation-delay: 1400ms;
}

.skill:nth-child(16) {
    animation-delay: 1500ms;
}

.skill:nth-child(17) {
    animation-delay: 1600ms
}

.skill:nth-child(18) {
    animation-delay: 1700ms;
}

.skill:nth-child(19) {
    animation-delay: 1800ms;
}

.skill:nth-child(20) {
    animation-delay: 1900ms;
}

.skill:nth-child(21) {
    animation-delay: 2000ms;
}

.skill:nth-child(22) {
    animation-delay: 2100ms;
}

.skill:nth-child(23) {
    animation-delay: 2200ms;
}

.skill:nth-child(24) {
    animation-delay: 2300ms;
}


@layer {}