/* Navbar and hamburger menu  */
.navbar div .text-lg:hover {
    color: #f22952;
}

.navbar .selectedNav,
.hamburger-menu .selectedNav {
    color: #f22952;
}

@media(max-width: 1024px) {
    .nav {
        display: none;
    }

    /*    Hamburger Menu*/
    .hamburger-menu {
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
    }

    .hamburger-menu .hamburger-inner {
        position: fixed;
        left: -15px;
        top: -15px;
        z-index: 500;
        width: 85px;
        height: 85px;
        background: #ffffff;
        border-radius: 50% 50% 50% 50%;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        box-shadow: 0 0 10px 10px rgba(255, 171, 169, 0.1);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hamburger-menu .hamburger-icon {
        position: absolute;
        width: 30px;
        height: 2px;
        top: 45px;
        left: 30px;
        background: #000;
        display: block;
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    .hamburger-menu .hamburger-icon:after,
    .hamburger-menu .hamburger-icon:before {
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background: #000;
    }

    .hamburger-menu .hamburger-icon:before {
        top: -10px;
    }

    .hamburger-menu .hamburger-icon:after {
        bottom: -10px;
    }

    .hamburger-menu input {
        display: none;
    }

    .hamburger-menu input:checked+.hamburger-inner {
        box-shadow: 0 0 0 100vw #ffffff, 0 0 0 100vh #ffffff;
        border-radius: 0;
    }

    .hamburger-menu input:checked+.hamburger-inner .hamburger-icon {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

    .hamburger-menu input:checked+.hamburger-inner .hamburger-icon:after {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        bottom: 0;
    }

    .hamburger-menu input:checked+.hamburger-inner .hamburger-icon:before {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        top: 0;
    }

    .hamburger-menu label input:checked+.hamburger-inner+ul {
        opacity: 1;
        visibility: visible;
    }

    .hamburger-menu label ul {
        z-index: 600;
        position: fixed;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.6s ease-in-out;
        -moz-transition: all 0.6s ease-in-out;
        -ms-transition: all 0.6s ease-in-out;
        -o-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out;
    }

    .hamburger-menu label ul li {
        z-index: 600;
        display: block;
        text-align: center;
    }

    .hamburger-menu label a {
        z-index: 600;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 22px;
        display: block;
        color: #000;
        text-decoration: none;
    }

    .hamburger-menu label a:hover {
        color: #f22952;
    }
}

@media(min-width: 1024px) {
    .hamburger-menu {
        display: none;
    }
}

/* Navbar and hamburger menu End */

@media (prefers-color-scheme: dark) {
    .hamburger-menu .hamburger-inner {
        background: #0f172a;
    }

    .hamburger-menu .hamburger-icon:after,
    .hamburger-menu .hamburger-icon:before,
    .hamburger-menu .hamburger-icon {
        background: #ffffff;
    }

    .hamburger-menu input:checked+.hamburger-inner {
        box-shadow: 0 0 0 100vw #0f172a, 0 0 0 100vh #0f172a;
    }

    .hamburger-menu label a {
        color: #ffffff;
    }
}

